<div class="container-fluid">
  <div class="row">
    <div  class = "col-md-6 col-md-offset-3" id="finder">
      <div class="thumbnail">
        <h3>Domaci 13</h3>
        <p>Kada je prijavljen, korisnik moze brisati i pregledati clanove</p>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Ime</th>
                  <th >Prezime</th>
                  <ng-container *ngIf="isAuth == 'yes'"><th>Delete</th></ng-container>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let members of data">
                  <tr>
                    <td>{{members.ime}}</td>
                    <td>{{members.prezime}}</td>
                    <ng-container *ngIf="isAuth == 'yes'"><td><button class="btn btn-danger" (click)="removeMember($event, members.id)">Remove</button></td></ng-container>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
