<div class="container">
  <div class="row">
    <div class="col-lg-12">

    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i> O nama</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, vis ad alii ancillae. Has feugait expetenda et,
            per habeo molestie dignissim ex. Recteque salutandi at per, agam possit ei vis. Pro odio inimicus argumentum ei.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i>Lorem ipsum</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, vis ad alii ancillae. Has feugait expetenda et, per
            habeo molestie dignissim ex. Recteque salutandi at per, agam possit ei vis. Pro odio inimicus argumentum ei.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i>Lorem ipsum</h4>
        </div>
        <div class="panel-body">
          <p>Sit aliquid volutpat quaerendum ut. Fugit mucius constituto ut vel, has purto saperet facilisis te.
            Quodsi nominavi vim ad. Ignota fastidii te mea.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr>
